SPRING_PROFILES_ACTIVE=dev
SISMUN_DB_URL=jdbc:postgresql://localhost:5432/sismun
SISMUN_DB_USERNAME=sismun_app
SISMUN_DB_PASSWORD=SUBSTITUIR
SISMUN_SEED_ENABLED=true
SISMUN_ADMIN_USERNAME=admin
SISMUN_ADMIN_PASSWORD=SUBSTITUIR
SISMUN_ADMIN_EMAIL=admin@exemplo.local
